

<div class="fade"></div>

<section class="star-wars">
  <div class="crawl">
    <div class="title">
      <p>Episode I</p>
      <h1>A aventura começa</h1>
    </div>
    
    <p>Há muito tempo atrás, em uma galáxia muito, muito (pera, nem tão distante kkkk), existia uma jovem sonhadora chamada Jéssyca.</p>
      
      <p>Aos 22 anos ela saiu para começar a sua jornada para se tornar uma jedi da programação.
         Já astuta e bem habilidosa, decidiu que iria treinar com os maiores jedis da galáxia, os da B2W-bit. </p>

    <p>Com muita dificuldade, completou o desafio proposto para iniciar o seu treinamento e espera ansiosamente pra começar essa mais nova aventura….</p>
  </div>
</section>

