@import '~scss/variables';
@import '~scss/mixins';

.name {
  background-color: $white;
  padding: 0.875rem;
  text-transform: uppercase;
  @include fontStyle($orange, 1.25rem, $weight-extrabold);
}
  